<nav class="ui inverted borderless olive menu">
    <header class="header item"><a href="/"> Walkway </a></header>
    <div class="right menu">
        <a id="home" class= "item" href="/admin"> Administration</a>
        <a id="settings" class= "item" href="/adminsettings"> Settings</a>
        <a id="logout" class= "item" href="/logout"> Logout</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>