
<div class="card">
    <div class="image">
        <img class="ui medium bordered fluid image" src="{{url}}">
    </div>
    <div class="content">
        <a href="/deleteimage/{{public_id}}"><i class="large red trash alternate outline icon"></i></a>
    </div>
    <br>
</div>



