<section>
        <div>
    <iframe style="background: #FFFFFF;border: none;border-radius: 10px; padding: 5px;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width=100% height="680"
            src="https://charts.mongodb.com/charts-project-0-vzsmm/embed/charts?id=5af72989-6d5a-4684-bb8b-6bbf3ec7e186&theme=light"></iframe>
    </div>
    <br>
    <div><iframe style="background: #FFFFFF;border: none;border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width=100% height="680" src="https://charts.mongodb.com/charts-project-0-vzsmm/embed/charts?id=80f4dc68-e015-4fa2-9210-ab39a14f9c6f&theme=light"></iframe>
    </div>
</section>