{{> adminmenu _id="home" }}

<section class="ui raised segment">
    <h2> Welcome {{user.firstName}} {{user.lastName}} to Walkways Administration.</h2>

    <div class="ui styled fluid accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            <h2 style="color: #3232cb ">mongo DB Atlas Data Analytics</h2>
        </div>
        <div class="content">
            {{> cloudatlas_analytics}}
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            <h2 style="color: #cb3232 ">Cloudinary Data Analytics</h2>
        </div>
        <div class="content">
            {{> cloudinary_analytics}}
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            <h2 style="color: #cb7f32">View / Edit Users</h2>
        </div>
        <div class="content">
            {{> memberList}}
        </div>
    </div>
</section>

<script>
$('.ui.accordion')
.accordion({ exclusive: false })
;
</script>