{{> welcomemenu }}

<section class="ui stacked segment">
        <div class="ui grid">
            <aside class="seven wide column"><img src="images/hike.png" class="ui big image" /></aside>
            <article class="nine wide column">
                <header class="ui  header">A catalogue for Everything Walk..</header>
                <p>Sign Up to experience a walk around the Emerald Isle</p>
            </article>
        </div>
    </section>
</section>